* {
    font-family: Times , Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  .sidebar {
        height: 100vh;
        width: 300px;
        list-style: none;
        background-color: #f1f6f8;
        position: sticky;
  }
  .top {
        padding-top: 120px;
  }
  .sidebar li a {
        display: block;
        padding: 25px;
        text-align: end;
        text-decoration: none;
        color: rgb(97, 97, 97);
        font-weight: 700;
        text-transform: capitalize;
        transition: background-color 0.5s;
  }
  .sidebar li a:hover {
        background-color: #ffffff;
        color: black;
  }