.daftar {
    display: block;
    font-family: arial;
    padding-left: 300px;
}

h1 {
    margin-bottom: 50px;
    padding-top: 20px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
}

h2 {
    font-family: arial;
    font-weight: bold;
}

.label-foto {
    color: black;
}

.input-pendata {
    width: 100%;
    height: 50px;
    background: #f1f6f8;
    border: none;
    font-size: 12pt;
    float: left;
    color: #63717f;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.tambah-perizinan {
    padding-left: 369px;
}

.colom-date {
    padding-left: 368px;
}

.colom-kbli {
    padding-left: 20px;
}

.colom-karyawan {
    padding-left: 80px;
}

.font-label {
    font-weight: bold;
}

.button-update {
    text-align: center;
}




