.update {
    margin-right: 10px;
    width: 100px;
}

.delete {
    margin-right: 10px;
    width: 100px;
}

.icon-edit {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 1;
    color: orange;
}

.icon-delete {
    position: absolute;
    margin-left: 118px;
    margin-top: 10px;
    z-index: 1;
    color: red;
}