.lupa-password li a {
    display: block;
    padding: 25px;
    text-align: end;
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-weight: 700;
    text-transform: capitalize;
    transition: background-color 0.5s;
}