.login-input {
    border-radius: 5px;
    margin-left: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline-table;    
    border: none;
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.form--input {
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 300px;
    background: #f1f6f8;
    font-family: arial;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    font-size: 12pt;
    color: black;
    float: right;
    font-weight: normal;
}
.btn {
    width: 100px;
}