.password-baru {
    border-radius: 5px;
    margin-left: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline-table;    
    border: none;
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.form--input {
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 300px;
    background: #f1f6f8;
    font-family: arial;
}

.button-submit {
    margin-top: 10px;
}




