.form-login {
    text-align: center;
    display: block;
}
h2 {
    margin-bottom: 50px;
    font-family: arial;
    font-weight: bold;
    padding-top: 100px;
}

p {
    font-family: arial;
    font-weight: bold;
    margin-top: 0;
}


