/* @import url('https://fonts.googleapis.com/css2?family=lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; */

/* .Pendaftaran, .ListUkm, .PesanMasal, .Dashboard{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content:center ;
    justify-content: center;
    font-size: 3rem;
} */
