.kode-otp {
    text-align: center;

}

.otp-input {
    border-radius: 5px;
    margin-left: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline;    
    background: #f1f6f8;
    border: none;
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.link-kirim-ulang {
    font-size: 12pt;
    color: black;
    font-weight: normal;
}
