.pendaftaran {
    display: block;
    font-family: arial;
    margin-right: 50px;
    margin-left: 50px;
}

h1 {
    margin-bottom: 50px;
    padding-top: 20px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
}

h2 {
    font-family: arial;
    font-weight: bold;
}

.label-foto {
    color: black;
}

.input-pendata {
    width: 100%;
    height: 50px;
    background: #f1f6f8;
    border: none;
    font-size: 12pt;
    float: left;
    color: #63717f;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.colom-date-iumk{
    padding-left: 82px;
    text-align: right;
}

.tambah-perizinan {
text-align: right;

}
.colom-date {
    padding-left: 369px;
    /* margin-left: 40px; */
}

.colom-input {
    padding-left: 369px;
}

.colom-kbli {
    padding-left: 20px;
}

.font-label {
    font-weight: bold;
}

.button-simpan {
    text-align: center;
}

.colom-karyawan {
    padding-left: 80px;

}
.button-save {
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
}







