.dashboard {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.chart-1, .chart-2{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.bar-chart {
    width: 45%;
    height: auto;
    padding: 20px 20px 20px;
    padding-right: 30px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background-color:  #f1f6f8;
    box-shadow: 2px 2px 5px 2px grey;
}   

.line-chart {
    width: 45%;
    height: auto;
    padding: 20px 20px 20px;
    margin-bottom: 40px;
    background-color:  #f1f6f8;
    box-shadow: 2px 2px 5px 2px grey;
}

.pie-chart{
    width: 45%;
    height: auto;   
    padding: 20px 20px 20px ;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    background-color:  #f1f6f8;
    box-shadow: 2px 2px 5px 2px grey;
}

.doughnut-chart {
    width: 45%;
    height: auto;
    padding: 20px 20px 20px;
    margin-bottom: 20px;
    /* margin-right: 20px; */
    background-color:  #f1f6f8;
    box-shadow: 2px 2px 5px 2px grey;
}

