.navbar {
   background-color: #f1f6f8;
   height:60px;
   display: flex; 
   width: 100%;
   top: 0;
   /* justify-content: start; */
   align-items: center;
   z-index: 1;
   position: sticky;
}

.logout {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 50px;
}
.icon-close{
    margin-top: -100px;
    margin-right: -100px;
    width: 16px;
    height: 16px;
}
.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    margin-top: -4px;
}

.nav-menu {
    background-color: #f1f6f8;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 30px;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 2;
}

.nav-menu.active {
    left: 0px;
    margin-left: -50px;
    transition:Background-color 0.5s;
}

.nav-text {
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 600;
    list-style: none;
    height: 80px;
}

.nav-text a {
    text-decoration: none;
    color: rgb(82, 80, 80);
    font-size: 17px;
    width: 95%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.nav-text a:hover{
    background-color: white;
    color: black;
    height: 70px;
    border-radius: 8px;
}
.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #f1f6f8;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}

span {
    margin-left: 0px;
    padding-left: 36px;
}