* {
      font-family: 'Times New Roman', serif, arial;
      margin: 0;
}

.sidebar {
      margin: 0;
      padding: 10px;
      height: 100%;
      width: 270px;
      list-style: none;
      position: fixed;
      background-color: #242627;
      overflow: auto;
      z-index: 1;
      overflow-x: hidden;

}

.container {
      padding-top: 140px;
     
}

.sidebar .container li .menu {
      display: block;
      padding-top: 120px;
      padding: 25px;
      text-align: end;
      text-decoration: none;
      color: rgb(97, 97, 97);
      font-weight: bold;
      text-transform: capitalize;
      transition: background-color 0.5s;
}

.sidebar .container li :hover {
      background-color: white;
      color: black;
      border-radius: 10px;
}

.active {
      background-color: white;
      color: black;
      border-radius: 10px;
}

@media screen and (max-width: 500px) {
      .sidebar {
        width: 100%;
        height: 100%;
        position: relative;
      }
      .sidebar li {float: left;}
    }

.icon {
      width: 25px;
      height: 25px;
}

