.pagination {
    display: inline;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 10px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: black;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: white;
    border-radius: 5px;
  }